@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(39,38,67);
    color: #fff;
}

header{
    color:#bae8e8;
    width: 100%;
    padding: 80px 0 80px;
    text-align: center;  
    width: calc(100% - 30px);
    margin: auto;  
}

header h1{
    font-size: 36px;
}

header p{
    padding-top: 10px;
    font-size: 19px;
}

main{
    box-sizing: border-box;
    width: calc(100% - 30px);
    height: 100%;
    background-color: #bae8e859;
    margin: auto;
    padding: 40px;
}

main ul li{
    font-size: 18px;
    list-style: none;
    margin: 0 0 30px;
    line-height: 30px;
}

main ul li a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-top: 20px; 
    font-size: 16px;
    background-color: #e3f6f5;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: #272643; 
}

main ul li a:hover{
    background-color: #bae8e8;
    box-shadow: 0 1px 4px rgb(0,0,0);
}

main ul li span{
    margin: auto;
}

main form ul li textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 8px 15px;
    border: none;
    background-color: rgb(39,38,67);
    margin-top: 10px;
    font-size: 15px;
    outline: none;
    color: #fff;
}

form ul li input[type=submit]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #e3f6f5;
    border: none;
    outline: 0;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
    color: #272643;
}

form ul li input[type=submit]:hover{
    background-color: #bae8e8;
    box-shadow: 0 1px 4px rgb(0,0,0);
}

main form ul li textarea:focus{
    box-shadow: 0 0 0 2px #bae8e8;
}

@media only screen and (min-width: 482px){
    main{
        max-width: calc(100% - 60px);
    }
}

@media only screen and (min-width: 720px){
    main{
        max-width: calc(100% - 200px);
    }
}

@media only screen and (min-width: 1000px){
    main{
        max-width: 40vw;
    }
}